body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ff6b6b, #556270);
}

/* #root {
  height:100vh;
} */
html, body {
  height: 100%;
  margin: 0;
}
/* App{
  height:100%
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* starting button design */
#startGameButton {
  width:70%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 1.7rem;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3498db;
  transition: background-color 0.3s ease;
  align-self: center; 
}
#startGameButton:hover {
  background-color: #2980b9;
}

/* starting instructions design */
#instructions {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: #333;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
}

/* title design */
#intro-title {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Helvetica Neue',sans-serif;;
  color: #333;
  margin-bottom: 10px;
  align-self: center;
}

/* first page container design */
#first-page-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

#quiz-container{
  max-width: 100vw;
  height: 100vh;
}
